assets/
# Xmake cache
.xmake/
build/
build-*/
cmake-build/
cmake-build*/
.vcpkg_install/
vcpkg_install/
.VSCodeCounter
# MacOS Cache
.DS_Store

*.pdb
.cache/
.vs/
.vscode
out/
*idea/
CPTCMakeBuild/
CMakeSettings.json
CMakeUserPresets.json
*.sublime-project
*.sublime-workspace
.qmlls.ini
